@use '../styles/variables' as *;

.title {
  margin-top: 0;
  margin-bottom: $space-xl;
}

.meta {
  display: block;
  margin-top: 0;
  margin-bottom: $rhythm;
  font-family: $sans-serif;
  font-size: 0.75 * $base-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $darkgray;
  letter-spacing: 0.02em;
}

.divider {
  margin: 0 0 $space-xxs;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.creation-duration {
  margin-top: $rhythm;
  font-style: italic;
  color: $darkgray;
}

ul.posts-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-left: 0;

  a {
    color: black;
  }
}
